.nsc-upload-picture-card-wrapper{
    display: flex;
    width: 100%;
    z-index: 1;
    align-items: center;
}

.nsc-upload-container .ant-upload.ant-upload-drag{
    margin-bottom: 10px;
}

.nsc-uploader-dragger-hide{
    display: none;
}

.nsc-uploader-dragger-show{
    display: flex;
}

.nsc-uploader-radio{
    margin: 15px 0px;
}
.nsc-uploader-radio-right{
    text-align: right;
    margin: 15px 0px;
}
.nsc-uploader-radio-left{
    text-align: left;
    margin: 15px 0px;
}
.nsc-uploader-radio-center{
    text-align: center;
    margin: 15px 0px;
}

.nsc-uploader-checkbox{
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
}

.nsc-uploader-checkbox .ant-checkbox-inner{
    width: 20px;
    height: 20px;
}